.sort-buttons {
    display: flex;
    justify-content: space-between;
    margin: 15px -7px;
    margin-left: 2px;
  
    .left-buttons,
    .right-buttons {
      display: flex;
      gap: 10px;
    }
  
    .sort-button {
      padding: 6px 10px;
      border: 1px solid #ccc;
      border-radius: 20px;
      font-size: 11px;
      background-color: #fff;
      cursor: pointer;
      transition: all 0.2s;
      white-space: nowrap;
      display: flex;
      align-items: center;
  
      .arrow-icon {
        width: 12px;
        height: 12px;
        margin-left: 5px;
      }
  
      &.active {
        border-color: #ffd700;
        color: #ffd700;
  
        .arrow-icon {
          width: 16px;
          height: 16px;
          margin-left: 5px;
        }
      }
  
      &:hover {
        background-color: #f9f9f9;
      }
    }
  }
  
  // 리스트 카드
  .list-card {
    display: flex;
    margin-bottom: 12px;
    background-color: #fff;
    position: relative;
    padding-bottom: 3px;
  
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #ddd;
      z-index: 0;
    }
  
    .card-image {
      width: 148px;
      height: 124px;
      object-fit: cover;
      border-radius: 10px;
      margin-top: 7px;
    }
  
    .card-details {
      flex: 1;
      padding: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      .title-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        .title-and-rating {
          display: flex;
          align-items: center;
          gap: 8px;
  
          .title {
            font-size: 13px;
            font-weight: bold;
            color: #333;
          }
  
          .rating-row {
            display: flex;
            align-items: center;
  
            .star-icon {
              width: 12px;
              height: 12px;
              margin-right: 4px;
            }
  
            .rating {
              font-size: 11px;
            }
          }
        }
  
        .favorite-icon {
          width: 18px;
          height: 18px;
          cursor: pointer;
          margin-left: auto;
          flex-shrink: 0;
        }
      }
  
      .location-row {
        display: flex;
        align-items: center;
        font-size: 10px;
        color: #aaaaaa;
        margin-top: 5px;
  
        .location-icon {
          width: 11px;
          height: 11px;
          margin-right: 4px;
        }
      }
  
      .distance-row {
        font-size: 10px;
        margin-top: 5px;
        color: #666;
      }
  
      .price-row {
        font-size: 12px;
        margin-top: 5px;
        color: #333;
        font-weight: bold;
      }
  
      .review-row {
        font-size: 10px;
        margin-top: 5px;
        color: #999;
      }
  
      .donation-row {
        font-size: 10px;
        text-align: right;
        margin-top: 15px;
  
        span {
          &.label {
            color: #333;
          }
  
          &.amount {
            color: #ff9900;
            font-weight: bold;
          }
        }
      }
    }
  }
  
  