.navbar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); 
    width: 390px;               
    height: 74px;            
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-top: 1px solid #ddd;
    z-index: 1000;             
  }
  
  .navbar a {
    text-decoration: none;
    color: #b0b0b0;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navbar img {
    width: 72px;
    height: 60px;
    margin-bottom: 4px;
  }
  