.splash-page {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100dvh; 
    padding: 18px;
    width: 100%;
    background-color: #FFE136;
  }

.logo {
    display: flex;
    flex-direction: column;
    height: 218px; 
    justify-content: center; 
  }
